 
 <!DOCTYPE html>
 <html xmlns:th="http://www.thymeleaf.org">
 
 
        
<div th:fragment="admin"> 

        
<form method="post" th:object="${adminparm}"  th:action="@{/admin}"> 
 
 <div class="container">  


    <div class="row"><br></div>
    
    <div class="row"><br></div>
  
    <div class="row">
  
                    <div class='col-md-4'></div>
    
                    <div class='col-md-4'> 
    
                            <h3 style="color: burlywood">Administrator</h3> 
                            
                    </div>
    
    </div>
  
    
  
    <div class="row"><br></div>
    
    <div class="row"><br></div>
  
            
    <div class="row"> 
  
            <div class='col-md-4'></div>
  
            <div class='col-md-4'> 
  
                    <label for='admId' class="st1 control-label">Admin Id:</label> <br>
                    <input type='text' class="st1 form-control" th:field="*{adminid}"><br><br>
  
                    <label for="admPassword" class="st1 control-label">Password:</label> <br>
                    <input type='password' class="st1 form-control" th:field="*{adminpassword}"><br>
  
            </div>
    </div> 
     
    
    <div class="row"><br></div>
    
    <div class="row">  
  
  
            <div class='col-md-4'></div>
  
            <div class='col-md-2'> 
   
                    <button type="submit" class="st1 b1 btn btn-primary st1">Sign In</button> 
                     
            </div> 
  
    </div>
  
    <div class="row"><br></div>
     
    <div class="row"> 
  
            <div class='col-md-4'></div>
    
            <div class='col-md-6 message'
                 style="color:burlywood;font-family:arial;font-size:large;">  
  
                <!-- session bean message will override default if set. -->
                <div th:unless="${@sessionBean.GetMessage().equals('')}">
                     <text th:text="${@sessionBean.GetMessage()}"/>
                 </div>
                 <div th:if="${@sessionBean.GetMessage().equals('')}">
                     <text>Enter Administrator Id and Password to sign in.</text>
                 </div>
                    
            </div>
  
    </div>
   
   
  
  </div> 

  </form>

  </div>
  
  