 
 <!DOCTYPE html>
 <html xmlns:th="http://www.thymeleaf.org"> 

<div th:fragment="claim">   

<div class="container">   
<!-- div name="centerStyles" class="centerclaimstyles"-->  
<div name="addStyles" id="FormStyleClass"  th:class="${@colorBean.getStyleClass()}">

<form method="post" th:object="${claim}"  th:action="@{/claim}">   
  
<div id="haveColors"  th:data-color="${@colorBean.haveColors()}"></div>

<!-- java script claimpage.js reads colors to set css variables for outline solid color  settings.-->
<div id="userColor"   th:data-color="${@colorBean.getUserColor()}"></div>
<div id="labelColor"  th:data-color="${@colorBean.getLabelColor()}"></div> 
<div id="headerColor" th:data-color="${@colorBean.getHeaderColor()}"></div>  
<div id="messageColor" th:data-color="${@colorBean.getMessageColor()}"></div>  

    <br> 
    
    <h2 class='starttitle' style='color: var(--h-color)'>File <th:text="${titleType}"></th:text> Claim</h2><br>
    
    <div class="row" id="row300">

          <!-- this row contains buttons and form -->
          <!-- buttons first column of row -->

          <div class="col-3" style="margin-top: 32px; "> 

                <!-- first column of row: buttons -->
                <!-- dt('m') displays medical fields : d,v,x for other types -->
                <!-- click methods on deselected type buttons will change the type to that selection -->

                <div id="typebuttons" name="typebuttons" class="list-group">

                   <!-- java script puts buttons in here ... -->

                </div>

            </div>
     
        <div class="col">
    
            
            <div class="form-group row" >  
                    <div class="col-xs-5">     
                            <label class="control-label2 st1 blue">First Name:</label> 
                            <br><input type="text" class="form-control st1 blue" th:field="*{PatientFirst}"
                            placeholder="Patient First"> 
                    </div> 
                    <div class="col-xs-5">   
                        <label class="control-label2 st1 blue">Last Name:</label>   
                        <br><input type="text" class="form-control st1 blue" th:field="*{PatientLast}"
                        placeholder="Patient Last">   
                    </div>  
                    <div class="col-xs-5">  
                        <label class="control-label2 st1 blue">Description:</label>  
                        <br><input type="text" class="form-control st1 blue" th:field="*{ClaimDescription}"
                        placeholder="Claim Description">  
                    </div>        
            </div> 
                
            <div class="form-group row" >  
                    <div class="col-xs-5">    
                            <label class="control-label2 st1 blue">Procedure:</label>  
                            <br><input type="text" class="form-control st1 blue" th:field="*{Procedure1}"
                            placeholder="Procedure Code">  
                    </div> 
                    <div class="col-xs-5">     
                            <label class="control-label2 st1 blue">Diagnosis:</label>  
                            <br><input type="text" class="form-control st1 blue" th:field="*{Diagnosis1}"
                            placeholder="Diagnosis Code">  
                    </div> 

                    <!-- service field -->   

                   <!-- service option selection -->

                   <!-- depending on claim type selected one of four selects will be shown
                        and or hidden by claim type 
                        The code: will show first in list for new claims and
                        pick the current service when adjustment is shown 
                        if the same claim type is displayed , until changed for that type.
                        example: med exam if first will show for medical claims 
                        if opreation is selected on new med claim it will show on
                        adj until changd on a med claim to med exam which will show if med
                        type contiues to be selected. 
                   -->
                    
                   <!-- code must set selected values for each of the four type for 
                        initial display: 1st if new, current if adjustment.
                        
                   -->

                   
                   <div class="col-xs-5"> 

                   <div id="mdiv"> 

                   <!-- labels needs for may have to group in divs. -->
                   <label id="mlab" for="medselected" class="control-label2 st1 blue" >
                               Medical Service:</label> <br>
                   
                   <select  id="medselected" name="medselected" class="form-control st1"
                            style="color:blue;height: 42px;">
 
                        <option th:each="service : ${claim.medservices}"
                                th:value="${service}"
                                th:text=${service}
                                th:selected="${service==medselecteed}">
                               
                        </option> 

                   </select> 
                   </div>
                  
                   <div id="ddiv">
                         
                   <label id="dlab" for="denselected" class="control-label2 st1 blue" >
                        Dental Service:</label> <br>
                
                   <select  id="denselected" name="denselected" class="form-control st1" 
                            style="color:blue;height: 42px;">

                        <option th:each="service : ${claim.denservices}"
                                th:value="${service}"
                                th:text="${service}"
                                th:selected="${service==denselected}">
                                
                        </option> 

                   </select> 
                   </div>
                    
                   <div id="vdiv">
                   <label id="vlab" for="visselected" class="control-label2 st1 blue" >
                        Vision Service:</label> <br>
                 
                   <select  id="visselected" name="visselected" class="form-control st1" 
                            style="color:blue;height: 42px;">

                        <option th:each="service : ${claim.visservices}"
                                th:value="${service}"
                                th:text="${service}"
                                th:selected="${service==visselected}">
                                
                        </option> 

                   </select> 
                   </div>
                   
                   <div id="xdiv">
                   <label id="xlab" for="drgselected" class="control-label2 st1 blue" >
                        Drug Service:</label> <br>

                   <select  id="drgselected" name="drgselected" class="form-control st1" 
                            style="color:blue;height: 42px;">

                        <option th:each="service : ${claim.drgservices}"
                                th:value="${service}"
                                th:text="${service}"
                                th:selected="${service==drgselected}">
                                
                        </option> 

                   </select> 
                   </div>
                  
                   </div> <!-- end col -->

              </div> <!-- end row -->

            <div class="form-group row" >       
                    <div class="col-xs-5">       
                            <label class="control-label2 st1 blue">Physician:</label> 
                            <br><input type="text" class="form-control st1 blue" th:field="*{Physician}"
                            placeholder="Physician">  
                    </div> 
                    <div class="col-xs-5">     
                            <label class="control-label2 st1 blue">Clinic:</label>   
                            <br><input type="text" class="form-control st1 blue" th:field="*{Clinic}"
                            placeholder="Clinic">  
                    </div>    
                    <div class="col-xs-5">       
                            <label class="control-label2 st1 blue">Service Date:</label> 
                            <br><input type="text" class="form-control st1 blue" th:field="*{DateService}"
                            placeholder="Date of Service">  
                    </div>    
            </div> 

            <!-- Type fields area changed by claimpage.js to display or hide -->

            <div id="typefields" name="typefields"> 
                        
                <div id="am">

               
                        <div class="form-group row">

                                <div class="col-xs-5">       
                                        <label  id="c1" class="control-label2 st1 blue">Confine Date:</label> 
                                        <br><input id="c2" type="text" class="form-control st1 blue" th:field="*{DateConfine}"
                                        placeholder="Date Confine">  
                                </div> 
                                <div class="col-xs-5">   
                                        <label id="r1" class="r1 control-label2 st1 blue">Release Date:</label>  
                                        <br><input id="r2" type="text" class="form-control st1 blue" th:field="*{DateRelease}"
                                        placeholder="Date Release"> 
                                </div>  
                        
                       </div>
                </div> 

                <div id="dm">

                        <div class="form-group row">

                       
                                <div class="col-xs-5">       
                                        <label id="t1" class="control-label2 st1 blue">Tooth Number:</label> 
                                        <br><input id="t2" type="text" class="form-control st1 blue" th:field="*{ToothNumber}"
                                        placeholder="Tooth Number">  
                                </div>  

                       </div>
                </div> 

                <div  id="vm"> 

                        <div class="form-group row">

                                <div class="col-xs-5">       
                                        <label id="e1" class="control-label2 st1 blue">Vision Materials:</label> 
                                        <br><input id="e2" type="text" class="form-control st1 blue" th:field="*{Eyeware}"
                                        placeholder="Eyeware">  
                                </div>  

                        </div>
                </div> 

                <div id="xm">  

                        <div class="form-group row"> 
                        
                                <div class="col-xs-5">       
                                        <label id="a1" class="control-label2 st1 blue">Pharmaceutical:</label> 
                                        <br><input id="a2" type="text" class="form-control st1 blue" th:field="*{DrugName}"
                                        placeholder="Drug Name">  
                                </div>  

                        </div>
                </div> 
                
            </div> <!-- end type fields -->
                
                 
            <div class="row" style="margin-top:30px;">   
 

                        <button id="submit" type="submit" class="btn btn-primary st1">
                                Add Claim
                        </button> 
                        <a th:href="@{/menu}" class="btn btn-primary st1 a11"> Menu </a>
                        <a th:href="@{/history}" class="btn btn-primary st1 a11"> History </a>  
                        <text style="margin-left:20px;"
                              class="b1 msg1" th:text="${@sessionBean.GetMessage()}"></text>  
  
            </div> 

              <!-- claim type gets stored here by java script  -->
              <input style="visibility:hidden" 
                     id="hiddenType"
                     type="text"
                     th:field="*{ClaimType}" />

                
            <!-- holds defaulted service in case no selection is made   -->
           <input style="visibility:hidden" 
                  id="hiddenService"
                  type="text"   
                  th:field="*{Service}" />
                 
      

         </div> <!-- end col --> 
    </div> <!-- end row --> 
               
    </form> 

</div> <!-- add styles -->
<!--/div--> <!-- center styles -->
 
    </html>
    
    