<!DOCTYPE html>
 <html xmlns:th="http://www.thymeleaf.org">
 
<div th:fragment="links">

<style>
    
    a:hover { color: goldenrod; }  /* highlight link hover to goldenrod */

</style> 
 

<div id="onLinks" style="margin-left:120px; margin-right:130px;"> 

    <div th:if="${@sessionBean.GetSignedIn().equals(false)}"> 

        <ul class="black-bar navbar b3-navbar">  

            <li><a  class="nav-item" th:href="@{/fullmenu}"
                    style="font-size: x-large; color:burlywood">E10Insurance</a></li> 

            <li><a  class="nav-item  black-bar" th:href="@{/start}">Start</a></li>
                
            <li><a  class="nav-item  black-bar" th:href="@{/classic}">Classic</a></li>

            <li><a  class="nav-item  black-bar" th:href="@{/register}">Register</a></li> 

            <li><a   class="nav-item  black-bar" th:href="@{/signin}">Signin</a></li>  
            
            <li><a   class="nav-item  black-bar" th:href="@{/about}">About</a></li> 
            
            <li><a   class="nav-item  black-bar" th:href="@{/admin}">Admin</a></li>

        
        </ul>

    </div>

    <div th:if="${@sessionBean.GetSignedIn().equals(true)}"> 

        <ul class="black-bar navbar b3-navbar">  

            <li  class="navbar-brand" style="font-size: x-large; color:burlywood">E10Insurance</li> 

            <li><a  class="nav-item  black-bar" th:href="@{/menu}">Menu</a></li> 

            <li><a  class="nav-item  black-bar" th:href="@{/update}">Update</a></li> 
            
            <li><a  class="nav-item  black-bar" th:href="@{/claim}">Claim</a></li>

            <li><a  class="nav-item  black-bar" th:href="@{/history}">History</a></li>

            <li><a  class="nav-item  black-bar" th:href="@{/plan}">Plan</a></li> 
            
            <li th:if="${@colorBean.showStyleLink()}"> 
                    <a class="nav-item  black-bar" th:href="@{/style}">
                       <text th:text="${@colorBean.getStyleLink()}"> 
                   </a></li> 
            
            <li th:if="${@colorBean.showColorLink()}"> 
                   <a class="nav-item  black-bar" th:href="@{/color}">
                      <text th:text="${@colorBean.getColorLink()}">
                   </a></li>

            <li><a  class="nav-item  black-bar" th:href="@{/signout}">Sign Out</a></li> 

            <div th:if="${@sessionBean.GetSignedIn().equals(true)}"> 
                <li><a  class="nav-item  black-bar" th:href="@{/menu}"
                     style="color:burlywood">
                    <text th:text="${@sessionBean.getCustId()}"></text>
                    <text> - </text>
                    <text th:text="${@sessionBean.GetCustomerName()}"/>
                </a></li>
            </div>

        </ul>

    </div>   


    
</div>
   
</div>