<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> 
 
<div th:fragment="update">  

<div id="container"> 

<div name="centerStyles" class="centerstyles"> 

        
<div name="addStyles" id="FormStyleClass"  th:class="${@colorBean.getStyleClass()}">
     
        
<form method="post" th:object="${customer}"  th:action="@{/update}"> 

<h2 class='starttitle'  style='margin-top:2px; color: var(--h-color)'>Customer Information Update</h2>    
 
<div class="line171" id="UpdateScreen"> 
 

        <div id="centerForm" style="margin-left:170px"> 
  
        <div id="haveColors"  th:data-color="${@colorBean.haveColors()}"></div>

        <!-- java script claimpage.js reads colors to set css variables for outline solid color  settings.-->
        <div id="userColor"   th:data-color="${@colorBean.getUserColor()}"></div>
        <div id="labelColor"  th:data-color="${@colorBean.getLabelColor()}"></div> 
        <div id="headerColor" th:data-color="${@colorBean.getHeaderColor()}"></div> 
        <div id="messageColor" th:data-color="${@colorBean.getMessageColor()}"></div> 
 
        <!-- class could select picture, outline or solid background --> 
        <div id="startofrows">  

                <div class="form-group row">  
                        
                        <div class="col-xs-2">   
                                <label class="control-label2 st1">Password:</label>  
                                <br><input type="password" th:field="*{custPassword}" class="form-control st1"> 
                        </div> 
                        <div class="col-xs-2">   
                                <label class="control-label2 st1">Confirm:</label>  
                                <br><input type="password" th:field="*{custConfirm}" class="form-control st1"> 
                        </div>   
                        <div class="col-xs-2">    
                                <label class="control-label2 st1">e-mail:</label>
                                <br><input type="text" class="form-control st1" th:field="*{custEmail}"> 
                        </div> 
                         
                </div> 
                <div class="form-group row" >  

                        <div class="col-xs-3">  
                            <label class="control-label2 st1">First Name:</label>
                            <input  type="text" th:field="*{custFirst}" class="form-control st1"> 
                        </div>  
                        <div class="col-xs-3">  
                                <label class="control-label2 st1">Middle Name:</label>
                                <input  type="text" th:field="*{custMiddle}" class="form-control st1"> 
                            </div>    
                    
                        <div class="col-xs-3">  
                            <label class="control-label2 st1">Last Name:</label> 
                            <br><input  type="text" th:field="*{custLast}" class="form-control st1">
                    
                        </div> 
                     

                </div> 

                <div class="form-group row" >  
                        <div class="col-xs-5">     
                                <label class="control-label2 st1">Birth Date:</label> 
                                <br><input type="text" class="form-control st1" th:field="*{custBirthDate}">
                        </div>  
                        <div class="col-xs-5">     
                                <label class="control-label2 st1">Gender:</label>  
                                <select  style="height: 42px;"  class="form-control st1" th:field="*{custGender}"> 
                                        <option th:value="M">M</option>
                                        <option th:value="F">F</option>
                                </select>
                                
                        </div>  
                        
                         <div class="col-xs-1"></div>   

                        <div class="col-xs-5">     
                                <label class="control-label2 st1">Telephone:</label> 
                                <br><input type="text" class="form-control st1" th:field="*{custPhone}">
                        </div>   
                        
                </div>  

                <div class="form-group row" >  
                        <div class="col-xs-5">  
                            <label class="control-label2 st1">Address1:</label>  
                            <br><input type="text" class="form-control st1" th:field="*{custAddr1}">  
                        </div>  
               
                        <div class="col-xs-5">    
                            <label class="control-label2 st1">Address2:</label> 
                            <br><input type="text" class="form-control st1" th:field="*{custAddr2}"> 
                    
                        </div>  

                        <div class="col-xs-5">   
                                <label style="margin-left: 15px;" class="control-label2 st1">Plan:</label> 
                                <br><div th:text="*{custPlan}" style="margin-left: 15px;font-size:larger; color:white;"></div>
                        </div> 
                </div> 

                <div class="form-group row" >  
                        <div class="col-xs-3">    
                                <label class="control-label2 st1">City:</label> 
                                <br><input type="text" class="form-control st1" th:field="*{custCity}">  
                        </div>    
                    
                        <div class="col-xs-3">    
                                <label class="control-label2 st1">State:</label> 
                                <select  style="height: 42px;"  class="form-control st1" th:field="*{custState}">  
                                        <option th:value="WA">WA</option>
                                        <option th:value="CA">CA</option>
                                </select>
                                <!--br><input type="text" class="form-control st1" ng-model="custState"-->  
                        </div> 

                        <div class="col-xs-3">     
                                <label class="control-label2 st1">Zip:</label> 
                                <br><input type="text" class="form-control st1" th:field="*{custZip}">  
                        </div>  
                        
                  
                </div>    
 

                <div class="row"><br></div>
    
               
                <div class="row">    
                        
                        <button type="submit"    class="btn btn-primary st1">Update Information</button> 
                        <a th:href="@{/menu}"   class="btn btn-primary st1 a11">Cancel</a> 
                        <a th:href="@{/plan}"   class="btn btn-primary st1 a11">Plan</a>
                        <text style="margin-left:20px;margin-top:3px;"
                              class="b1 msg1" 
                              th:text="${@sessionBean.GetMessage()}"></text>   
                </div>
 
                    
                <div class="row"><br></div>
               

        </div>  <!-- start of rows  -->

        </div>
            
</div>   



</form>

</div> <!-- add  styles -->

</div> <!-- center styles -->

</div> <!-- container -->

