
 <!DOCTYPE html>
 <html xmlns:th="http://www.thymeleaf.org">
 
 
 
<div th:fragment="about"> 

  <style>
    .para { font-size: large;}
    .clr {color: burlywood;}
  </style>

<div class='container'>  
  <br><br>

  <div class="row clr">

          <h3 class="clr"> About </h3> 

  </div> <br>

   
  <div class="row"> 
 
     <p style="color:burleywood;">

             E10Insurance written in Spring Boot using Java 11. 

     </p>

</div>
       
    
  
 <a style="margin-left: 10px; margin-top: 25px;" th:href="@{/start}"    class="btn btn-primary st1 b1"> Return</a>

  </div>
       