
  <!DOCTYPE html>
  <html xmlns:th="http://www.thymeleaf.org">
  
  
  
 <div th:fragment="listcustomers"> 

    
<form method="post" th:object="${customerlist}"  th:action="@{/customerlist}"> 

<div class="container"> 

    <br> 
    
    <h2 class='starttitle'>Customer List</h2> <br>
    
       
           <div class="row" form-control>
                 
                <table class="table">
                       
                            <tbody th:each="customer : ${customerlist.getCustomersInList()}">   
                            <tr>
                                <td style="color:gold" th:text=${customer.custId}></td>
                                <td style="color:white"
                                 th:text="${customer.custFirst} + ' ' + ${customer.custLast}"></td> 
                            </tr>
                            <tr>
                                <td>Phone</td>
                                <td>Email</td> 
                            </tr>
                            <tr>
                                <td style="color:gold" th:text="${customer.custPhone}"></td>
                                <td style="color:gold" th:text="${customer.custEmail}"></td>  
                            </tr>
                            <tr>
                                <td>Address</td> 
                            </tr>
                            <tr>
                                <td style="color:aqua" 
                                     th:text="${customer.custAddr1} + ' ' + ${customer.custAddr2} + ' ' +
                                              ${customer.custCity}  + ' ' + ${customer.custState} + ' ' +
                                              ${customer.custZip}"> 
                                </td> 
                            </tr>
                            <tr>
                                <td>Application</td>  
                                <td style="color:aqua" th:text="${customer.appId}"></td>
                            </tr>
                     
                        </tbody>
                        </table>

           </div>

                   
            <div style="color:lawngreen" class="row" form-control>
                  
                <div th:unless="${@sessionBean.GetMessage().equals('')}">
                    <text th:text="${@sessionBean.GetMessage()}"/>
                </div>
                <div th:if="${@sessionBean.GetMessage().equals('')}">
                    <text>Customer List.</text>
                </div>

            </div>  
    
            <br>
            <div class="row" form-control>  
                    <div class="col-md-4"></div>
                    <div class="col-md-6"> 
                        <a th:href="@{/adminaction}"  class="btn btn-primary st1 b1"> Menu </a>
                    </div>
            </div> 
                
    </div>
    </form>
    </body>
    </html>
    
    