<!DOCTYPE html>
 <html xmlns:th="http://www.thymeleaf.org">
   
 
<div th:fragment="signin">  

<form method="post" th:object="${signin}"  th:action="@{/signin}"> 

<div  class="container">  

        
        <div class="row"><br></div>

        <div class="row"><br></div> 

        <div class="row">
  
                <div class='col-md-4'></div>

                <div class='col-md-4'> 

                        <h3 style="color: burlywood">Customer Sign In</h3> 
                        
                </div>

        </div>

                
        <div class="row"><br></div>
        
        <div class="row"><br></div> 

        <div class="row"> 
  
                <div class='col-md-4'></div>
      
                <div class='col-md-4'>  

                        <label class="control-label st1">Customer Id Number:</label> 
                        <input id="custid" type="text" class="form-control st1" th:field="*{custid}">
                          <br>
                        <label class="control-label st1">Customer Password:</label> 
                        <input id="custpass" type="password" class="form-control st1" th:field="*{custpass}">   
              
                </div>    
         
        </div>
        
        <div class="row"><br></div> 
         
        <div class="row">   
  
                <div class='col-md-4'></div>
      
                <div class='col-md-6'>  
                        
                    <button type="submit"   class="btn btn-primary st1">    Sign In</button> 
                    <a th:href="@{/start}"  class="btn btn-primary st1 b1"> Cancel</a>  
                
                </div> 
        </div> 

        <div class="row"><br></div> 
        
        <div class="row">   
  
                <div class='col-md-4'></div>
      
                <div class='col-md-6'>  
                    <div style='color:burlywood;font-family:arial;font-size:large;'>

                        <!-- session bean message will override default if set. -->
                        <div th:unless="${@sessionBean.GetMessage().equals('')}">
                               <text  th:text="${@sessionBean.GetMessage()}"/>
                        </div>
                        <div th:if="${@sessionBean.GetMessage().equals('')}">
                                <text>Enter customer id and password to sign in.</text>
                        </div>
                    </div>
              </div>
        </div> 
 

  

</form>

</div>
  

