 
 <!DOCTYPE html>
 <html xmlns:th="http://www.thymeleaf.org">
 

<div th:fragment="start"> 

  <style>
    a:hover { color: skyblue;}
  </style>

    <h2 class="starttitle">Insurance Company - Welcome!</h2> <br/> 
      
    <div class="row">    
        <img class='mainPic img-responsive' alt="rock picture" 
              src="/images/rock.jpg"
  </div> 
 
  <footer width='95%'>
    <br> 
         <text class='t1left'>2021 - E10Insurance - Spring Boot</text>
         <text class='t1' style='color:gray;'>Find out info here</text> 
         <a class="a1" th:href="@{/info}" style="color: white">Info</a>
         <text class='t1' style='color:gray;'>Find about here...</text>
         <a class="a1" th:href='@{/about}' style="color: white">About</a>
         <text class='t1' style='color:gray;'>Time to buy...</text>
         <a  class="a1" th:href='@{/register}' style="color: white">
         <text  th:text="${@sessionBean.GetCurrentDate()}"></text></a>
         <text class='t1' style='color:gray;'> This is a demonstration website</text>
     
   </footer>
 
 </div>  
 
  

 </body>

 </html>
   